<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>PlannerWidgetIntents</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>OpenDyslexic-Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
